<header>
  <hgroup>
    <h1>Decydr</h1>
    <h2>Your one-stop shop for events and conditions</h2>
  </hgroup>
</header>

<section>
  <h2>Happening Now</h2>
  <%= render @events %>
</section>
<section id="splash-tables">
  <section id="events">
    <h2>Events</h2>
    <table>
      <tr><td><%= link_to('Today','') %></td></tr>
      <tr><td><%= link_to('This Weekend','') %></td></tr>
      <tr><td><%= link_to('and Beyond','') %></td></tr>
    </table>
  </section>
  <section id="conditions">
    <h2>Conditions</h2>
    <table>
      <tr><td><%= link_to('Today','') %></td></tr>
      <tr><td><%= link_to('This Weekend','') %></td></tr>
      <tr><td><%= link_to('and Beyond','') %></td></tr>
    </table>
  </section>
  <section id="providers">
    <h2>Providers</h2>
    <table>
      <tr><td><%= link_to('Today','') %></td></tr>
      <tr><td><%= link_to('This Weekend','') %></td></tr>
      <tr><td><%= link_to('and Beyond','') %></td></tr>
    </table>
  </section>
  <section id="gear">
    <h2>Gear</h2>
    <table>
      <tr><td><%= link_to('Today','') %></td></tr>
      <tr><td><%= link_to('This Weekend','') %></td></tr>
      <tr><td><%= link_to('and Beyond','') %></td></tr>
    </table>
  </section>

</section>
<section id="twitter">
  <hgroup>
    <h2>Twitter</h1>
  </hgroup>
  
  <%= javascript_tag do %> 
    $('#twitter').socialist({
        networks: [
            {name:'twitter',id:'mtbachelor'},
            {name:'twitter',id:'twisitbend'}
        ],
        isotope:false,
        random:false,
        maxResults: 5,
        fields:['source','heading','text','date']
    });
  <% end %>
</section>
