<div id="home">
    <div class="story">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                </div>
                <div class="span9">
                    <div class="row-fluid">
                        <div class="span5">
                          <header>
                            <hgroup>
                              <h1>Decydr <span class="rnd">{0.1}</span></h1>
                              <h2>Your one-stop shop for events and conditions</h2>
                              <p>Conditions? Check.</p><p> Weather? Check.</p><p> Friends? Check.</p><p> Decydr is a website and mobile app that aggregates local event information into one place, and shows you which ones your friends are most interested in.</p>
                            </hgroup>
                            <p><a class="btn" href="#events">See Events Now »</a></p>
                          </header>
                        </div>
                        <!--/span-->
                  </div>
                    <!--/row-->
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
    </div>
    <!--.story-->
</div>
<!--#intro-->

<!--#events-->
<div id="events">
  <div class="container-fluid">
    <div class="story">
        <div class="row-fluid">
                <h1>Events and Conditions <span class="rnd">fresh</span></h1>
                <p>Stepping outside in Central Oregon? This is your resource to the latest events,
                  trail conditions, slope style and weather.</p>
                 <div class="span10">
<section>
  <h2>Today:</h2>
  <%= javascript_tag do %>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
          defaultView: 'agendaDay',
          height: 300,
          columnFormat: {
              month: '',    // Mon
              week: '', // Mon 9/7
              day: ''  // Monday 9/7
                      },
          events: [
                  <% @events.each_with_index do |event, index| %>
                  {
                    title: "<%= event.display_name %>",
                    start: new Date(<%= event.begin_time.year %>,<%= event.begin_time.month - 1 %>,<%= event.begin_time.day %>,<%= event.begin_time.hour %>,<%= event.begin_time.strftime('%M') %>),
                    end: new Date(<%= event.end_time.year %>,<%= event.end_time.month - 1%>,<%= event.end_time.day %>,<%= event.end_time.hour %>,<%= event.end_time.strftime('%M') %>),
                    allDay: false
                  }<%= ',' if index < (@events.length - 1) %>
                  <% end %>
                 ]
        })

    });
  <% end %>
  <div id="calendar"></div>
</section>
<section id="splash-tables">

      <ul class="thumbnails">
        <li class="span3">
          <h2>Events</h2>
          <table>
            <tr><td><%= link_to('Today', today_events_path) %></td></tr>
            <tr><td><%= link_to('This Weekend','') %></td></tr>
            <tr><td><%= link_to('and Beyond','') %></td></tr>
          </table>
        </li>
        <li class="span3">
          <h2>Conditions</h2>
          <table>
            <tr><td><%= link_to('Today','') %></td></tr>
            <tr><td><%= link_to('This Weekend','') %></td></tr>
            <tr><td><%= link_to('and Beyond','') %></td></tr>
          </table>
        </li>
        <li class="span3">
          <h2>Providers</h2>
          <table>
            <tr><td><%= link_to('Today','') %></td></tr>
            <tr><td><%= link_to('This Weekend','') %></td></tr>
            <tr><td><%= link_to('and Beyond','') %></td></tr>
          </table>
        </li>
        <li class="span3">
          <h2>Gear</h2>
          <table>
            <tr><td><%= link_to('Today','') %></td></tr>
            <tr><td><%= link_to('This Weekend','') %></td></tr>
            <tr><td><%= link_to('and Beyond','') %></td></tr>
          </table>
        </li>
      </ul>

      <% if false %>
      <h2>Twitter</h2>
<section id="twitter">
  <%= javascript_tag do %>
    $('#twitter').socialist({
        networks: [
            {name:'twitter',id:'mtbachelor'},
            {name:'twitter',id:'twisitbend'}
        ],
        isotope:false,
        random:false,
        maxResults: 5,
        fields:['source','heading','text','date']
    });
  <% end %>
</section>
      <ul class="thumbnails">
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
        <li class="span3">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/260x180" alt="">
          </a>
        </li>
      </ul>
<% end %>
    </div>


    </div>
    </div><!--.story-->
    </div>
</div>
<!--#events-->
