<header>
  <hgroup>
    <h1>Decydr</h1>
    <h2>Your one-stop shop for events and conditions</h2>
  </hgroup>
</header>

<section id="splash-tables">
  <section id="events">
    <h2>Events</h2>
    <table>
      <tr><td><%= link_to('Today','') %></td></tr>
      <tr><td><%= link_to('This Weekend','') %></td></tr>
      <tr><td><%= link_to('and Beyond','') %></td></tr>
    </table>
  </section>
  <section id="conditions">
    <h2>Conditions</h2>
    <table>
      <tr><td><%= link_to('Today','') %></td></tr>
      <tr><td><%= link_to('This Weekend','') %></td></tr>
      <tr><td><%= link_to('and Beyond','') %></td></tr>
    </table>
  </section>
  <section id="providers">
    <h2>Providers</h2>
    <table>
      <tr><td><%= link_to('Today','') %></td></tr>
      <tr><td><%= link_to('This Weekend','') %></td></tr>
      <tr><td><%= link_to('and Beyond','') %></td></tr>
    </table>
  </section>
  <section id="gear">
    <h2>Gear</h2>
    <table>
      <tr><td><%= link_to('Today','') %></td></tr>
      <tr><td><%= link_to('This Weekend','') %></td></tr>
      <tr><td><%= link_to('and Beyond','') %></td></tr>
    </table>
  </section>
  <section id="twitter">
    
  </section>

</section>
